@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<ProfileSettingsModel>
<script language="JavaScript" type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="~/js/GeneralSettings.js"></script>


<div id="Tabs" role="tabpanel" style="margin-top:5px">
    <ul class="nav nav-tabs" id="tablst" role="tablist">
        <li class="nav-item active" data-value="system">
            <a class="nav-link active" href="#system" id="systema" aria-controls="system" role="tab" data-toggle="tab">System</a>
        </li>
        <li class="nav-item" data-value="account">
            <a class="nav-link" href="#account" id="accounta" aria-controls="account" role="tab" data-toggle="tab">Account</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="system" style="margin-top:5px">
            @if (Model.Count(x => x.Name == "DefaultLanguage") > 0)
            {
                var item = Model.Where(x => x.Name == "DefaultLanguage").FirstOrDefault();
                <div class="row" style="margin-bottom: 1px;">
                    <div class="col-md-4 col-form-label p-t-10">
                        @Html.Label("lblLanguage","Default Language")
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        @Html.DropDownList(item.Value,new SelectList(new LandingPageModel().languages,"languageName","languageName"),new { @id=item.Name, @class="myclass" })
                    </div>
                </div>
            }

            @if (Model.Count(x => x.Name == "LandingPage") > 0)
            {
                var item = Model.Where(x => x.Name == "LandingPage").FirstOrDefault();
                <div class="row" style="margin-bottom: 1px;">
                    <div class="col-md-4 col-form-label p-t-10">
                        @Html.Label("lblLanding","Landinng Page")
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">                        
                        @Html.DropDownList(item.Value,new SelectList(new LandingPageModel().menuModels,"menuName","menuName",item.Value),new { @id=item.Name, @class="myclass" })
                    </div>
                </div>
            }
            @if (Model.Count(x => x.Name == "DateFormat") > 0)
            {
                var item = Model.Where(x => x.Name == "DateFormat").FirstOrDefault();
                <div class="row" style="margin-bottom: 1px;">
                    <div class="col-md-4 col-form-label p-t-10">
                        @Html.Label("lblDateformat","Date Format")
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        @Html.TextBox(item.Name,item.Value)
                    </div>
                </div>
            }
            @if (Model.Count(x => x.Name == "GoogleMapAPIKey") > 0)
            {
                var item = Model.Where(x => x.Name == "GoogleMapAPIKey").FirstOrDefault();
                <div class="row" style="margin-bottom: 1px;">
                    <div class="col-md-4 col-form-label p-t-10">
                        @Html.Label("lblDateformat","GoogleMap API Key")
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        @Html.TextBox(item.Name,item.Value)
                    </div>
                </div>
            }
            @if (Model.Count(x => x.Name == "TimeFormat") > 0)
            {
                var item = Model.Where(x => x.Name == "TimeFormat").FirstOrDefault();
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-md-4 col-form-label p-t-10">
                        @Html.Label("lbltimeformat","Time Format")
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        @if (item.Value == "24")
                        {
                            @Html.RadioButton(item.Name,"24",true, new {@id="24hrs", @class="myclass"}) @Html.Label("24 Hrs")
                            @Html.RadioButton(item.Name, "12", false, new {@id="12hrs", @class="myclass"}) @Html.Label("12 Hrs")
                        }
                        @if (item.Value == "12")
                        {
                            @Html.RadioButton(item.Name,"24",false, new {@id="24hrs", @class="myclass"}) @Html.Label("24 Hrs")
                            @Html.RadioButton(item.Name, "12", true, new {@id="12hrs", @class="myclass"}) @Html.Label("12 Hrs")
                        }
                    </div>
                </div>
            }
            @if (Model.Count(x => x.Name == "CHECKGPS") > 0)
            {
                var item = Model.Where(x => x.Name == "CHECKGPS").FirstOrDefault();
                <div class="row" style="margin-bottom: 1px;">
                    <div class="col-md-4 col-form-label p-t-10">
                        @Html.Label("lblcheckgps","CHECK GPS")
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        @if (item.Value == "true")
                        {
                            @Html.RadioButton(item.Name,"true",true,new { @id="gpsyes", @class="myclass"})  @Html.Label("Yes")
                            @Html.RadioButton(item.Name, "false",false,new { @id="gpsno", @class="myclass"})  @Html.Label("No")
                        }
                        @if (item.Value == "false")
                        {
                            @Html.RadioButton(item.Name,"true",false,new {@id="gpsyes", @class="myclass"}) @Html.Label("Yes")
                            @Html.RadioButton(item.Name, "false",true,new {  @id="gpsno", @class="myclass"})  @Html.Label("No")
                        }
                    </div>
                </div>
            }
            @if (Model.Count(x => x.Name == "GeofenceOffset") > 0)
            {
                var item = Model.Where(x => x.Name == "GeofenceOffset").FirstOrDefault();
                <div class="row" style="margin-bottom: 1px;">
                    <div class="col-md-4 col-form-label p-t-10">
                        @Html.Label("lblgeofence","Geofence Offset")
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="col-md-6 input-group mb-3">
                            @Html.TextBox(item.Name,item.Value)
                            <span class="input-group-text" id="passwordexpirydays">Meters</span>
                        </div>
                    </div>
                </div>
            }

            @if (Model.Count(x => x.Name == "ClipExpireTime") > 0)
            {
                var item = Model.Where(x => x.Name == "ClipExpireTime").FirstOrDefault();
                <div class="row" style="margin-bottom: 1px;">
                    <div class="col-md-4 col-form-label p-t-10">
                        @Html.Label("lblclipboard","Clopboard Expiry Alert")
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="col-md-6 input-group mb-3">
                            @Html.TextBox(item.Name,item.Value)
                            <span class="input-group-text" id="passwordexpirydays">Days</span>
                        </div>
                        @Html.Label("0 Days: Unlimited days")
                    </div>
                </div>
                <div class="row" style="margin-bottom: 1px;">
                    <div class="col-md-4 col-form-label p-t-10">
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        @Html.Label("1-10 Days: Number of days before clipboard is expired")
                    </div>
                </div>
            }
            @if (Model.Count(x => x.Name == "TickerEnableSection") > 0)
            {
                var item = Model.Where(x => x.Name == "TickerEnableSection").FirstOrDefault();
                <div class="row" style="margin-bottom: 1px;">
                    <div class="col-md-4 col-form-label p-t-10">
                        @Html.Label("lblenable","Ticker Enable Section")
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        @if (item.Value == "Enable")
                        {
                            @Html.RadioButton(item.Name,"Enable",true,new { @id="tickerenable", @class="myclass"}) @Html.Label("Enable")
                            @Html.RadioButton(item.Name, "Disable",false,new { @id="tickerdisenable", @class="myclass"}) @Html.Label("Disable")
                        }
                        @if (item.Value == "Disable")
                        {
                            @Html.RadioButton(item.Name,"Enable",false,new { @id="tickerenable", @class="myclass"}) @Html.Label("Enable")
                            @Html.RadioButton(item.Name, "Disable",true,new { @id="tickerdisenable", @class="myclass"}) @Html.Label("Disable")
                        }
                    </div>
                </div>
            }
            <div class="row" style="margin-bottom: 1px;">
                <div class="col-md-4 col-form-label p-t-10">
                    @Html.Label("lbllogout","*Logout and login to update the changes")
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="account" style="margin-top:5px">
            @if (Model.Count(x => x.Name == "PasswordExpirydays") > 0)
            {
                var item = Model.Where(x => x.Name == "PasswordExpirydays").FirstOrDefault();
                <div class="row" style="margin-bottom: 1px;">
                    @Html.Label("lblenable","Password Expiry")
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        @Html.TextBox(item.Name,item.Value)
                    </div>
                    @Html.Label("0 Days: Unlimited days")
                </div>
                <div class="row" style="margin-bottom: 1px;">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        @Html.Label("1-365 Days: Number of days until the password is expired")
                    </div>
                </div>
            }
        </div>
    </div>
</div>